#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.square {
  border-radius: 2px;
  border: 1px solid gray;
  background: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 34px;
  height: 35px;
  color: black;
}
.square:hover {
  border-color: #eb3d34;
}

.status {
  margin-bottom: 5px;
}

.restart {
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid gray;
  background: #fff;
  font-weight: bold;
  text-align: center;
  color: black;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game-info {
  margin-left: 20px;
  text-align: left;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.history-current {
  margin-top: 5px;
  font-size: 11px;
}

.history-btn {
  font-size: 9px;
}